name: Validate Renovate presets

on:
  pull_request:
    paths:
      - "default.json"
      - ".github/workflows/validate.yml"
  workflow_dispatch:

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/renovatebot/renovate:42

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - run: |
          renovate-config-validator default.json
